<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body>

 {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
     <H1>Please check the configurations of databases or read manuals before procedding.</H1>

  {% endif %}
    <table border = 1>
    <tr>

    <th scope="col">ID</th>
    <th scope="col">Timestamp</th>
    <th scope="col">Temperature</th>
    <th scope="col">Duration</th>
  </tr>
    {% for item in render_data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>

    </tr>
    {% endfor %}
    </table>
</body>
</html>